body{
    padding: 0;
    margin: 0;

}    
    
    .container{
        width: 100%;
        height: 98vh;
        background: #f7faff;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .capsule,
    .freshworks,
    .lead,
    .clevertop,
    .hubspot,
    .shopify,
    .zoho,
    .web,
    .sales{
        width: 130px;
        height: 50px;
        border-radius: 40px;
        border: 1px solid #cad0d8;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 2px 5px;
    }
    .capsule>img,
    .freshworks>img,
    .lead>img,
    .clevertop>img,
    .hubspot>img,
    .shopify>img,
    .zoho>img,
    .web>img,
    .sales>img{
        width: 90%;
        height: 90%;
        /* border-radius: 40px; */

    }
    .hubspot>img{
        background-size: contain;
        width: 90%;
        height: 90%;
    }
    .capusleContainer{
        position: relative;
        /* background-color: rgb(236, 173, 236); */
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .mainCapsule{
        width: 200px;
        height: 70px;
        border-radius: 40px;
        border: 2px solid #389ada;
        left: -20%;
        background-color: white;
    }
    .mainCapsule>img{
        height: 100%;
        width: 60%;
        border-radius: 40px;
        background-size: contain;
        margin: auto ;
        margin-left: 40px;

    }
    .line2{
        height: 155px;
        width: 2px;
        background-color: #cad0d8;
        position: absolute;
        margin-top: -3px;
    margin-left: 30%;
    }
    .line1{
        height: 180px;
        width: 2px;
        background-color: #cad0d8;
        position: absolute;
        margin-top: -255px;
    margin-left: 30%;
    }
    .freshworks{
        margin-top: -200px;
        margin-left: -280px;
        position: absolute;
        z-index: 33;

    }
    .lead{
        margin-top: -430px;
        margin-left: -200px;
        position: absolute;
        z-index: 55;
    }
    .clevertop{
        position: absolute;
        margin-left: 180px;
        margin-top: -300px;
        z-index: 22;
    }
    .hubspot{
        position: absolute;
        z-index: 99;
        margin-left: -400px;
        margin-top: 40px ;

    }
    .shopify{
        position: absolute;
        z-index: 99;
        margin-left: 400px;
        margin-top: -80px ;

    }
    .zoho{
        position: absolute;
        z-index: 99;
        margin-left: 260px;
        margin-top: 180px ;

    }
    .web{
        position: absolute;
        z-index: 99;
        margin-left: -200px;
        margin-top: 280px ;

    }
    .sales{
        position: absolute;
        z-index: 99;
        margin-left: 170px;
        margin-top: 380px ;


    }
    .dot{
        background-color: white;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        border: 1px solid #cad0d8;
        position: absolute;
    }
    .salesdot,
    .cleverdot{
        margin-left: -142px;

    }
    .webdot,
    .leddot,
    .freshdot{
        margin-left: 140px;
    }
    .zohodot{
        margin-left: -140px;
    }
    .hubdot{
        margin-top: -55px;
    }
    .shopifydot{
        margin-top: 53px;
    }
    .webline,
    .salesline,
    .zoholine,
    .ledline,
    .cleverline,
    .freshLine,
    .line3,
    .line4,
    .shopyfiyline,
    .hubline{
        height: 2px;
        background-color: #cad0d8;
        position: absolute;

    }
    .salesline{
        width: 20px;
        margin-left: -170px;
    }
    .webline{
        width: 21px;
        margin-left: 163px;

    }
    .zoholine{
        width: 67px;
        margin-left: -211px;

    }
    .ledline{
        width: 18px;
        margin-left: 163px;

    }
    .cleverline{
        width: 25px;
        margin-left: -170px;

    }
    .freshLine{
        width: 58px;
        margin-left: 205px;
    }
    .line3{
        width: 100px;
        margin-left: 200px;
        margin-top: -39px;
    }
    .shopyfiyline{
        transform: rotate(90deg);
        width: 14px;
        margin-top: 69px;
    }
    .line4{
        width: 9px;
        margin-left: -104px;
        margin-top: -55px;
        transform: rotate(90deg);
z-index: 222;
    }
    .hubline{
        width: 105px;
        margin-top: -80px;
        margin-left: 105px;
    }
    @media screen and (max-width:580px) {
        .mainCapsule{
            width: 80%;
            height: 70px;
            border-radius: 40px;
            border: 2px solid #389ada;
            left: -20%;
            background-color: white;
            /* position: relative; */
        }
        .container{
            width: 100%;
            height: 98vh;
            background: #f7faff;
        padding: 30px 10px;
        padding-top: 30px;
        margin-left: -10px;
        overflow: hidden;
        padding-bottom: 30px;
        }
        .line1{
            height: 334px;
            background-color: #cad0d8;
            /* background-color: red; */
            margin-top: -410px;
            margin-left: 70px;
        }
        .line2{
            height: 335px;
            width: 2px;
            background-color: #cad0d8;
            position: absolute;
            margin-top: -3px;
        margin-left: 170px;
        /* background-color: red; */
        }
        .line4{
            display: none;
        }
        .freshworks{
            margin-top: -200px;
            margin-top: -380px;

            margin-left: 170px;
            position: absolute;
            z-index: 33;
            /* transform: rotate(180deg); */
    
        }
        .freshdot{
            margin-left: -142px;
        }
      
        .cleverdot{
            margin-left: -140px;
    
        }
        .clevertop{
            margin-top: -560px;
        }
        .lead{
            margin-left: 180px;
            margin-top: -740px;
        }
        .cleverline{
            width: 61px;
            margin-left: -207px;
        }
        .freshLine{
            width: 61px;
            margin-left: -207px;

        }

        .lead{
            margin-left: 169px;
            position: absolute;
        }
        .ledline{
            width: 60px;
            margin-left: -205px;
        }
        .leddot{
            margin-left: -140px;
            margin-top: 0px;
            /* background-color: red; */
        }
        .clevertop{
            position: absolute;
            margin-left: 171px;
            /* margin-top: -300px; */
            z-index: 22;
        }
        .shopify{
            margin-top: -200px;
            margin-left: 170px;
        }
        .shopifydot{
            margin-top: 1px;
            margin-left: -140px;
        }
        .shopyfiyline{
            transform: rotate(180deg);
            width: 66px;
            margin-top: 1px;
            margin-left: -200px;
        }
        .hubspot{
            /* position: absolute; */
            /* z-index: 99; */
            margin-left: -180px;
            margin-top: 200px ;
    
        }
        .hubdot{
            margin-top: 1px;
            margin-left: 140px;
        }
        .hubline{
            /* transform: rotate(180deg); */
            width: 71px;
            margin-top: 1px;
            margin-left: 210px;
            /* background-color: red; */

        }
        .zoho{
            margin-left: -190px;
            margin-top: 380px ;
    
        }
        .zoholine{
            width: 78px;
            margin-left: 211px;
    
        }
        .zohodot{
            margin-left: 140px;
        }
        .web{
            margin-top: 560px;
            margin-left: -190px;

        }
        .webline{
            width: 78px;
            margin-left: 211px;

        }
        .sales{
            margin-left: -190px;
            margin-top: 740px ;
        }
        .salesdot{
            margin-left: 140px;
        }
        .salesline{
            width: 73px;
            margin-left: 216px;

        }
        .line3{
            display: none;
        }
        
    }
    @media screen and (max-width:370px) {
        .lead,
        .freshworks,
        .shopify,
        .clevertop{
            margin-left: 120px;
            /* margin-top: -740px; */
        }
         .ledline,
         .freshLine,
         .shopyfiyline,
         .cleverline{
            width: 36px;
            margin-left: -180px;
        }
        .hubspot,
        .zoho,
        .web,
        .sales{
            margin-left: -130px;
        }
    .hubline,
    .zoholine,
    .webline,
    .salesline{
        width: 48px;
        margin-left: 181px;
    }
    .salesline{
        width: 43px;
        margin-left: 188px;
    }
      
        
    }
